h1 {
  font-family: 'Freckle Face', cursive;
  color: #cc0066;
  text-align: center;
}

body {
  font-size: 18px;
}

.main {
  float: right;
  padding: 2%;
}



.side {
  float: left;
  padding: 2%;
}

.banner {
  font-style: italic;
  font-weight: bold;
  font-size: 22px;
  color: #cc0066;
  padding: 0.5%;
  text-align: center;
}

.top {
  float: top;
  align-self: center;
  padding: 2%;
}

.column1 {
  width: 25%;
  float: left;
  padding: 2%;
  background-color: beige;
}

.column2 {
  width: 25%;
  float: left;
  padding: 2%;
  background-color: aquamarine;
}

.column3 {
  width: 25%;
  float: left;
  padding: 2%;
  background-color: darksalmon;
}

.footer {
  font-style: italic;
  font-weight: bold;
  font-size: 22px;
  color: #cc0066;
  padding: 2%;
  text-align: center;
  float: right;
}

.list {
  padding: 2%;
}
